.button {
    background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
    border-radius: 5px;
    padding: 14px 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
