.forma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
}
.footer-input{
    background-color: #17044D;
    border: none;
}
